<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>Moja strona</title>
    <meta
      name="description"
      content="Opis zawartości strony dla wyszukiwarek"
    />
    <meta name="keywords" content="słowa, kluczowe, opisujące, zawartość" />
    <meta name="author" content="Ania Programistka" />
    <meta http-equiv="X-Ua-Compatible" content="IE=edge" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- CSS STYLES -->
    <link rel="stylesheet" href="{{url_for('static', 
filename='styles/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', 
filename='styles/styles.css')}}">

<script src="{{url_for('static', filename='scripts/script.js')}}"></script>

  </head>
  <body>
    <div class="hero">
      <div class="hero-content">
        <nav class="nav">
          <a class="logo" href=""
            ><?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M11.456 2.665a.6.6 0 011.088 0l2.864 6.137a.6.6 0 00.29.29l6.137 2.864a.6.6 0 010 1.088l-6.137 2.864a.6.6 0 00-.29.29l-2.864 6.137a.6.6 0 01-1.088 0l-2.864-6.137a.6.6 0 00-.29-.29l-6.137-2.864a.6.6 0 010-1.088l6.137-2.864a.6.6 0 00.29-.29l2.864-6.137z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>

            <ul class="menu">
              <li class="menu-item">
                <a class="menu-link" href="#about-me">o mnie</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#hobby">zainteresowania</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#photos">zdjęcia</a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="#contact">kontakt</a>
              </li>
            </ul>
        </nav>

        <header class="header">
          <h1 class="main-heading">Coucou!</h1>
          <p class="header-text">
            Mam na imię Ania. Jestem uczennicą trzeciej klasy liceum na profilu mat-inf-ang, programuję, czytam książki i edytuję mapy.
            
          </p>

          <a class="header-link" href="#about-me">Poznaj mnie</a>
        </header>
      </div>
    </div>

    <!-- ABOUT ME -->
    <section class="section-about" id="about-me">
      <div class="about-image-wrapper">
        <img src="{{url_for('static', filename='images/obrazek.jpg')}}"
alt="to ja", width="200">
      </div>

      <div class="about-content">
        <h2 class="about-heading">O mnie</h2>
        <p class="text">
          Mam 17 lat. Według MBTI jestem <b>INTJ</b>, a według Enneagramu <b>typem 5</b>. Moje typy osobowości sugerują, że myślenie analityczne jest moją mocną stroną, dlatego tez kocham analizować dane! Uwielbiam wykresy, im bardziej niecodzienne tym lepiej! 
        </p>
        <p class="text">
          Jestem w edukacji domowej, dzięki czemu mam sporo czasu na rozwijanie moich zainteresowań.
        </p>
        <p class="text">
          Uwielbiam czytać książki, zwłaszcza popularnonaukowe. Z miłości do organizacji i doodlingu prowadzę bullet journal, a przy okazji ćwiczę kaligrafię przy robieniu nagłówków. Należę do tego dziwnego typu ludzi, których matematyka relaksuję. Z nudy przerabiam podręczniki do fizyki, a jeśli mam czas to pływam i jeżdzę na rowerze.  
        </p>
      </div>
    </section>

    <!-- HOBBY -->
    <section class="section-hobby">
      <div class="hobby-content">
        <ul class="hobby-list">
          <li class="hobby-item">
            <div class="hobby-icon">
              <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M13.5 6L10 18.5M6.5 8.5L3 12l3.5 3.5M17.5 8.5L21 12l-3.5 3.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              
            </div>
            <p class="hobby-name"><b>Programowanie</b></p>
            <p class="hobby-text">Kocham programować odkąd pamiętam, na codzień programuję w Pythonie, jednakże znam podstawy C++, a dzięki CS50 zrobiłam swoje pierwsze projekty w C. Uwielbiam analizować dane, dlatego Python jest moim numerem jeden. <3</p>
          </li>

          <li class="hobby-item">
            <div class="hobby-icon">
              <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M9 19l-5.21 1.737a.6.6 0 01-.79-.57V5.433a.6.6 0 01.41-.569L9 3m0 16l6 2m-6-2V3m6 18l5.59-1.863a.6.6 0 00.41-.57V3.832a.6.6 0 00-.79-.569L15 5m0 16V5m0 0L9 3" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </svg>
            </div>
            <p class="hobby-name"><b>Kartografia</b></p>
            <p class="hobby-text">Edytuję mapy na OpenStreetMap. Najczęściej zajmuję się edycją mojej najbliższej okolicy, a czasami bawię się w edycję fikcyjnej mapy na OpenGeofiction. Jest to ciekawe zajęcie, a przy okazji przyczyniam się do rozwoju projektu open-source.</p>
          </li>

          <li class="hobby-item">
            <div class="hobby-icon">
              <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M2 12c0 5.523 4.477 10 10 10s10-4.477 10-10S17.523 2 12 2 2 6.477 2 12z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13 2.05S16 6 16 12c0 6-3 9.95-3 9.95M11 21.95S8 18 8 12c0-6 3-9.95 3-9.95M2.63 15.5h18.74M2.63 8.5h18.74" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </div>
            <p class="hobby-name"><b>Nauka języków</b></p>
            <p class="hobby-text">Uwielbiam uczyć się języków, chciałabym w przyszłości nazwać siebie poliglotką. Aktualnie uczę się francuskiego i niemieckiego, jednakże w przyszłości myślę nad kontynuacją nauki włoskiego oraz rozpoczęciem nauki norwerskiego.
            </p>
          </li>

          <li class="hobby-item">
            <div class="hobby-icon">
              <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M2 12c0 5.523 4.477 10 10 10s10-4.477 10-10S17.523 2 12 2" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.5 15.5s1.5-2 4.5-2 4.5 2 4.5 2M3 4c0-2.754 4-2.754 4 0 0 1.967-2 1.64-2 4M5 11.01l.01-.011" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.5 9a.5.5 0 110-1 .5.5 0 010 1zM10.5 9a.5.5 0 110-1 .5.5 0 010 1z" fill="#000" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              </svg>
            </div>
            <p class="hobby-name"><b>Psychologia</b></p>
            <p class="hobby-text">Jeśli czytam książki to głównie te o tematyce psychologicznej! Zgłębiam wiedzę o neuroróżnodności, zachowaniach ludzi i procesach poznawczych. Kiedy robię swoje analizy, zawsze szukam baz danych o psychologii.</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- PHOTOS -->
     <!-- PHOTOS -->
     <section class="container section-photos" id="photos">
      <h2 class="photos-heading">Zdjęcia</h2>
      <p class="photos-text">
        Quisque scelerisque lacus ac tellus tincidunt finibus. Nunc tempus
        finibus dignissim. In hac habitasse platea dictumst. Donec viverra ante
        eget tellus hendrerit, sit amet mattis tellus vulputate.
      </p>

      <div class="photos">
        <figure class="figure">
          <img src="{{url_for('static', filename='images/obrazek1.jpg')}}"
alt="zdjęcie", class="figure-image">
          <figcaption class="figure-description">
            Cras sed est efficitur, dictum mauris ac, placerat tortor.
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="{{url_for('static', filename='images/obrazek2.jpg')}}"
alt="zdjęcie", class="figure-image">
          <figcaption class="figure-description">
            Integer tempor est risus, id posuere nunc fringilla et.
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="{{url_for('static', filename='images/obrazek3.jpg')}}"
alt="zdjęcie", class="figure-image">
          <figcaption class="figure-description">
            Cras sed est efficitur, dictum mauris ac, placerat tortor.
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="{{url_for('static', filename='images/obrazek4.jpg')}}"
alt="zdjęcie", class="figure-image">
          <figcaption class="figure-description">
            Cras sed est efficitur, dictum mauris ac, placerat tortor.
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="{{url_for('static', filename='images/obrazek5.jpg')}}"
alt="zdjęcie", class="figure-image">
          <figcaption class="figure-description">
            Cras sed est efficitur, dictum mauris ac, placerat tortor.
          </figcaption>
        </figure>

        <figure class="figure">
          <img src="{{url_for('static', filename='images/obrazek6.jpg')}}"
alt="zdjęcie", class="figure-image">
          <figcaption class="figure-description">
            Cras sed est efficitur, dictum mauris ac, placerat tortor.
          </figcaption>
        </figure>
      </div>
    </section>

    <!-- QUOTE -->
    <section class="section-quote">
      <div class="quote-content">
        <div class="quote-wrapper">
      <div class="quote-icon"><?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M10 12H5a1 1 0 01-1-1V7.5a1 1 0 011-1h4a1 1 0 011 1V12zm0 0c0 2.5-1 4-4 5.5M20 12h-5a1 1 0 01-1-1V7.5a1 1 0 011-1h4a1 1 0 011 1V12zm0 0c0 2.5-1 4-4 5.5" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path></svg></div>
      <blockquote class="quote" cite="https://www.huxley.net/bnw/four.html">
        <p>'Without data, you’re just another person with an opinion'</p>
      </blockquote>
      </div>
      <cite class="quote-author">W. Edwards Deming</cite>
      </div>
    </section>
    <!-- CONTACT -->
    <section class="section-contact">
      <h2 class="contact-heading">Napisz do mnie</h2>

      <form class="form">
        <div class="form-item">
          <label class="label" for="name">Imię: </label>
          <input
            class="input"
            placeholder="imię"
            type="text"
            id="name"
            required
          />
        </div>

        <div class="form-item">
          <label class="label" for="email">Email: </label>
          <input class="input" placeholder="email" type="email" id="email" />
        </div>

        <div class="form-item">
          <label class="label" for="email">Miejsce na Twoją wiadomość</label>
          <textarea
            class="textarea"
            placeholder="piszę tu..."
            required
          ></textarea>
        </div>

        <button class="form-button" type="submit">Wyślij</button>
      </form>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-content">
      <div>
      <p class="footer-text">Anna Licznerska</p>
      <p class="footer-text">
        <a class="footer-link" href="mailto:anialicznerska07@gmail.com">anialicznerska07@gmail.com</a>
      </p>
    </div>
      <ul class="social-media">
        <li class="social-media-item">
          <a class="social-media-link" href="www.facebook.com">
            <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </svg>
          </a>
        </li>

        <li class="social-media-item">
          <a class="social-media-link" href="www.instagram.com">
            <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z" stroke="#ffffff" stroke-width="1.5"></path><path d="M17.5 6.51l.01-.011" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </svg>
          </a>
        </li>

        <li class="social-media-item">
          <a class="social-media-link" href="www.youtube.com">
            <?xml version="1.0" encoding="UTF-8"?><svg width="50px" height="50px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff"><path d="M14 12l-3.5 2v-4l3.5 2z" fill="#ffffff" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z" stroke="#ffffff" stroke-width="1.5"></path></svg>
          </a>
        </li>
      </ul>
    </div>
    </footer>
    <script src="main.js"></script>
  </body>
</html>
